.login {
    display: flex;
    height: 100vh;
}


#login_from {
    margin: auto;
}

nav {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.tab {
    display: none;
    padding: 0 1rem;
}

.oredr {
    padding: 1rem;
}